@import './variables.scss';

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: $poppins;
	background-size: cover;
	background-attachment: fixed;
	font-weight: 300;
}

#root {
  animation: fadein ease-out 1s;
}

.outer-container {
	background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 90%);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 25px;

	@include breakpoint(medium) {
		height: 100vh;
	}

	footer a {
		color: darken($midGray, 30);
		font-size: 0.8rem;

		&:hover {
			@include gradient(to right, $blue-gradient);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}
}

